header {
    /* background-color: white; */
    background-color: rgb(40, 46, 49);
}


.admin-wrapper {
    display: flex;
    height: calc(100% - 66px);
    
}

.admin-wrapper .left-sidebar {
    flex: 2;
    height: 35.7rem;
    background-color: rgb(51, 58, 62);
    /*position: fixed;*/
    /*z-index: 1;*/
    /*overflow-x: hidden;*/
}

.admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.admin-wrapper .left-sidebar ul li a {
    padding: 18px;
    display: block;
    border-bottom: 2px solid rgb(64, 67, 71);
    color: white;
    text-decoration: none;

}
 
.admin-wrapper .left-sidebar ul li a:hover{
    background-color:  rgb(64, 67, 71);
}

.admin-wrapper .admin-content {
    flex: 8;
    height: 35.7vh;
    padding: 2.5rem 5rem 5rem;
    overflow-y: auto;
}

.admin-content .page-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid rgb(238, 236, 236);
}

#edit{
    color: green;
    padding: .5rem;
}
#delete{
    color: red;
    padding: .5rem;
}

#publish{
    color: blue;
    padding: .5rem;
}

#edit:hover{
    color: white;
    background-color: green;
    text-decoration: none;
    border-radius: .2rem;
}

#delete:hover{
    color: white;
    background-color: red;
    text-decoration: none;
    border-radius: .2rem;
}


#publish:hover{
    color: white;
    background-color: blue;
    text-decoration: none;
    border-radius: .2rem;
}