header {
    /* background-color: white; */
    background-color: rgb(40, 46, 49);
}


.admin-wrapper {
    display: flex;
    height: calc(100% - 66px);
    
}

.admin-wrapper .left-sidebar {
    flex: 2;
    height: 35.7rem;
    background-color: rgb(51, 58, 62);
}

.admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.admin-wrapper .left-sidebar ul li a {
    padding: 18px;
    display: block;
    border-bottom: 2px solid rgb(64, 67, 71);
    color: white;
    text-decoration: none;

}
 
.admin-wrapper .left-sidebar ul li a:hover{
    background-color:  rgb(64, 67, 71);
}

.admin-wrapper .admin-content {
    flex: 8;
    height: calc(100%- 10vh);
    padding: 2.5rem 5rem 5rem;
    overflow-y: auto;
}

/* New ONE! */
.msg-error{
    color: #4c3333;
    background-color: rgb(239, 148, 148);
    border: 1px #4c3333 solid;
    border-radius: 5px;
    text-align: center;
    list-style: none;
    padding: .8rem 1rem;
}

/*Another new one*/
.success{
    margin-top: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: rgb(131, 175, 86);
    border: 2px solid rgb(119, 173, 119);
    border-radius: .5em;
    color: white;
    width: inherit;
    text-align: center;

}

.success li {
    list-style: none;
}


.admin-content .page-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid rgb(238, 236, 236);
}

#edit{
    color: green;
    padding: .5rem;
}
#delete{
    color: red;
    padding: .5rem;
}

#publish{
    color: blue;
    padding: .5rem;
}

#edit:hover{
    color: white;
    background-color: green;
    text-decoration: none;
    border-radius: .2rem;
}

#delete:hover{
    color: white;
    background-color: red;
    text-decoration: none;
    border-radius: .2rem;
}


#publish:hover{
    color: white;
    background-color: blue;
    text-decoration: none;
    border-radius: .2rem;
}