.navbar {
    background-color: rgb(10, 10, 10);
}

body {
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.landing{
    margin-top: 2%;
}

.full_details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: bolder;
    text-align: center;
    margin-top: 5%;
}

.contact_information p {
    font-size: small;
}

#contact_button {
    background-color: #CDA750;
}

.contact-item .column-image img {
    width: 200%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15%;
}

.contact-item .column-images img {
    width: 150%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15%;
}

.contact-item .column-images1 img {
    width: 120%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15%;
}

.contact-item .column-description span {
    font-size: large;
}

.transparent-input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
}

.hamburger_menu img {
    height: 15%;
    width: 15%;
    float: right;
    cursor: pointer;
}

@media screen and (max-width:992px) {
    .hamburger_menu img {
        height: 5%;
        width: 5%;
        float: right;
        cursor: pointer;
    }
}

@media screen and (max-width: 425px){
    .contact-item .column-image img {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5%;
    }
    
    .contact-item .column-images img {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5%;
    }
    
    .contact-item .column-images1 img {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5%;
    }
}