.navbar{
    margin-bottom: 5px;
    background-color:rgb(29, 29, 29);
}

.cover{
    margin-top: 1.5rem;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
	position: relative;
}

.row{
    margin-top: 2rem;
    text-align: center;
}

.main {
    text-align: center;
}

.main h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content p{
    font-size: 1.2rem;
    padding: 1.5rem;
    text-align: justify;
}